<header class="navbar navbar-fixed-top navbar-inverse">
<div class ="navbar-inner">
  <div class="container">
  <nav>
  <ul class="nav pull-right">
    <li><%= link_to "Blacklist Number", '#' %></li>
    <li><%= link_to "Remove Number", '#' %></li>
    <li><%= link_to "Check Number", '#' %></li>
    <li><%= link_to "Help", '#' %></li>
  </ul>
  </nav>
</div>
</div>
</header>

